.card {
    display: flex;

    width: 900px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 5px;
}

.image img {
    width: 200px;
}

.image{
    position: relative;
}

.image .capsule{
    position: absolute;
    bottom: 4px;
    z-index: 10;
    right: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.858);
    opacity: 0.9;
    padding: 3px;
    font-size: 14px;
}

.text h1,
p {
    padding: 2px 0;
}