.red{
    color : red;
}
.red{
   background-color: yellow;
}
.cat{
    background-color: rgb(83, 73, 224);
}
#firstdiv{
  /*  background-color: red; */
}
.kite{
    background-color: rgb(23, 233, 75);
}
